@import '../../theme.scss';

.TodoListOne {
    margin: 10px;
    padding: 5px;
    width: 450px;
    box-shadow: 0 0 2px $first;

    &__header {
        margin-bottom: 5px;
        padding: 10px;
        color: $third;
        background-color: $second;
    }

    &__title {
        margin-bottom: 5px;
    }

    &__ul {
        display: flex;
        flex-direction: column;
    }
}